html {
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
    /* text-align: center; */
}

.bg {
    background-image: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-844297.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Kiara {
    border-radius: 50%;
}

.flex {
    display: flex;
    justify-content: center;
}

.aboutMe {
    background-color: azure;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 47%;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.listedSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 47%;
    border-radius: 3em;
    background-color: azure;
    padding: 2%;
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5%;
    /* background-color: yellow; */
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;;
}

.acnh {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    border-radius: 3em;
    padding: 1.5%;
}

.gg {
    background-color: azure;
    border-radius: 3em;
    width: 30%;
    padding: 1.5%;
    text-align: center;
}

.weather {
    background-color: azure;
    border-radius: 3em;
    padding: 1.5%;
    text-align: center;
    width: 30%;
}

.center {
    text-align: center;
}