html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    /* text-align: center; */
}

.bg {
    /* background-color: lightgoldenrodyellow; */
    background-color: #ffffff;
}

.header {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgoldenrodyellow;
    width: 93.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
    padding: 1.3%;
}

.Kiara {
    border-radius: 50%;
    /* margin-right: 17%; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 2%;
    margin-top: -2%;
}

.aboutMe {
    background-color: peachpuff;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 50%;
    margin-top: 1.7%;
}

.skills {
    width: 50%;
}

.listedSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 3em;
    background-color: rgb(185, 242, 185);
    padding: 3%;
    gap: 2%;
}

.projects {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5%;
    /* background-color: yellow; */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    padding: 2%;;
}

.acnh {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    border-radius: 3em;
    padding: 1.5%;
}

.gg {
    background-color: azure;
    border-radius: 3em;
    /* width: 30%; */
    padding: 1.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.projectSlide {
    background-color: lavender;
    border-radius: 3em;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.slideShowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    /* font-weight: bold; */
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}